body{
    margin: 50px 18rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(uploads/538d72bca02d199a39ec583e855e3825.png) ;
    background-size:cover;
}
select{
    height:2rem;
}
option{
    text-align: center;
}
.btn{
    background-color: rgb(1, 121, 121);
    color: white  !important;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(4, 156, 156);
}
.field span, #incomplete-error, .redtext{
    color: red;
    font-size: 16px;
}
.field{
    font-size: 20px;
    margin:0.6rem 0rem;
    padding: 0.3rem 0rem;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.drop{
    flex-direction: row !important;
}
.field input{
    min-height: 1.8rem;
    width: 100%;
    padding: 0.3rem ;
    font-size: 20px;
    
}
.box{
    display: flex;
    flex-direction: column;
    min-width: 340px;
    padding: 3.5rem;
    margin: 0 auto  !important;
    max-height: fit-content;
    box-shadow:  0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05) ; 
    z-index: 1;
    opacity: 1;
    background: white;
}
.signup.box{
    width: 340px;
}
.center-div{
    max-width: fit-content;
    margin: auto;
    align-self: center;
}
.column{
    display: flex;
    justify-content: space-between;
}
.column div{
    width: 48%;
}
/* users */
.users.box{
    width: 500px; 
    height: 900px;
}
.users header{
display: flex;
padding-bottom: 20px;
align-items: center;
border-bottom: solid 1px #e6e6e6;
justify-content: space-between;
height: 80px;
}
.details span{
    font-weight: 600;
    font-size: 20px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}
.search input{
    padding: 5px;
    width: 85%;
    height: 30px;
    font-size: 20px;
    outline: none;
    border: 0.1px solid #e6e6e6;
}
.search button{
    padding: 5px;
    box-sizing: border-box;
    width: 10%;
    height: 40px;
    background-color: rgb(1, 121, 121);
    
    
}
.search button i{
    fill: white;
}
.search button:hover{
    background-color: rgb(4, 156, 156);
}
.users a{
    text-decoration: none;
}
.users-list{
    padding: 0.5rem;
    font-size: 20px;
    height: 640px;
    overflow-y: scroll;
}
 .content{
display: flex;
padding-bottom: 10px;
align-items: center;
border-bottom: solid 1px #e6e6e6;
justify-content: flex-start;
height: 60px;
font-size: 20px;
color: black;
}
.users .content{
    border-bottom: none;
}
.details{
    margin-left: 15px;
}
.details .light{
    color: #575757;
} 
.users-list .content:hover{
transform: scale(1.01);
cursor: pointer;
}


.search input.active{
    pointer-events: auto;
}
.navigate{
    width:100% !important ;
    padding: 1rem;
}

.sender , .receiver{
    color: rgb(71, 71, 71);
    min-height: 30px ;
    display:inline-block;
    /* background-color: black !important; */
    margin: 0.8rem 1rem;
    padding: 1rem;
    z-index:1;
    border-radius: 10px;
}
.sender{
    align-self: flex-start;
    background-color: #e6e6e6;
}
.receiver{
    align-self: flex-end;
    background-color: rgba(4, 156, 156, 0.596);
}
.chat{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.chats{
align-self: center;
display: flex;
flex-direction: column;
overflow-y: scroll;
 height:85%; 
 width:94% ;
 background-color:#e6e6e631;}
.message{
    align-items: center;
    height:43px;
    width:94% ;
    background-color:#e6e6e69f;
    align-self: center; 
    display:flex;
}
.message input{
    outline:none;
    border: rgb(1, 121, 121) solid 1px;
    font-size: 25px;
    overflow-y: scroll;
}
